{{>header}}
<title>Cental - Car Rent | Admin Section</title>
{{>navbar}}

{{>hero}}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-3">
            {{>sidebar}}
        </div>
        <div class="col-md-9">
            <h5 class="bg-primary text-center text-light p-2">Users <a href="/admin/users"><i
                        class="fa fa-backward text-light float-end"></i></a></h5>
            <form action="/admin/users/update/{{data.id}}" method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="text" name="name" placeholder="Full Name"
                            class="form-control {{#if errorMessage.name}}border-danger{{else}}border-primary{{/if}}"
                            value="{{data.name}}">
                        {{#if errorMessage.name}}
                        <p class="text-danger">{{errorMessage.name}}</p>
                        {{/if}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" name="username" placeholder="User Name"
                            class="form-control {{#if errorMessage.username}}border-danger{{else}}border-primary{{/if}}"
                            value="{{data.username}}">
                        {{#if errorMessage.username}}
                        <p class="text-danger">{{errorMessage.username}}</p>
                        {{/if}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="email" name="email" placeholder="Email Address"
                            class="form-control {{#if errorMessage.email}}border-danger{{else}}border-primary{{/if}}"
                            value="{{data.email}}">
                        {{#if errorMessage.email}}
                        <p class="text-danger">{{errorMessage.email}}</p>
                        {{/if}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" name="phone" placeholder="Phone Number"
                            class="form-control {{#if errorMessage.phone}}border-danger{{else}}border-primary{{/if}}"
                            value="{{data.phone}}">
                        {{#if errorMessage.phone}}
                        <p class="text-danger">{{errorMessage.phone}}</p>
                        {{/if}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <select name="role" class="form-select border-primary">
                            <option {{checkDropDown data.role 'Admin' }}>Admin</option>
                            <option {{checkDropDown data.role 'Super Admin' }}>Super Admin</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary p-2 w-100">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{>footer}}