{{>header}}
<title>Cental - Car Rent | Contact Us</title>
{{>navbar}}

{{>hero}}

<!-- Contact Start -->
<div class="container-fluid contact py-3">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize text-primary mb-3">Contact Us</h1>
        </div>
        <div class="row g-5">
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="contact-add-item p-4">
                            <div class="contact-icon mb-4">
                                <i class="fas fa-map-marker-alt fa-2x text-light"></i>
                            </div>
                            <div>
                                <h4>Address</h4>
                                <p class="mb-0">A-43 Sector-16, Noida, India</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="contact-add-item p-4">
                            <div class="contact-icon mb-4">
                                <i class="fas fa-envelope fa-2x text-light"></i>
                            </div>
                            <div>
                                <h4>Mail Us</h4>
                                <p class="mb-0"><a href="mailto:jeetmahaur7@gmail.com">jeetmahaur7@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="contact-add-item p-4">
                            <div class="contact-icon mb-4">
                                <i class="fa fa-phone fa-2x text-light"></i>
                            </div>
                            <div>
                                <h4>Telephone</h4>
                                <p class="mb-0"><a href="tel:+91xxxxxxxxxx">+91 xxxxxxxxxx</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="contact-add-item p-4">
                            <div class="contact-icon mb-4">
                                <i class="fab fa-whatsapp fa-2x text-light"></i>
                            </div>
                            <div>
                                <h4>Yoursite@ex.com</h4>
                                <p class="mb-0"><a href="http://wa.me/+91xxxxxxxxxx">+91 xxxxxxxxxx</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-secondary p-5 rounded">
                    <h4 class="text-white mb-4 text-center">{{#if show}}Thanks To Share Your Query With Us. Our Team Will Contact You Soon{{else}}Send Your Message{{/if}}</h4>
                    <form action="" method="post">
                            <div class="mb-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control {{#if errorMessage.name}}border-danger border-5{{/if}}" id="name" name='name' placeholder="Your Name">
                                    <label for="name">{{#if errorMessage.name}}{{errorMessage.name}}{{else}}Your Name{{/if}}</label>
                                </div>
                            </div>
                       
                        <div class="row">
                            <div class="col-xl-6 mb-3">
                                <div class="form-floating">
                                    <input type="email" class="form-control {{#if errorMessage.email}}border-danger border-5{{/if}}" id="email" name="email"  value="{{data.name}}" placeholder="Your Email">
                                    <label for="email">{{#if errorMessage.name}}{{errorMessage.email}}{{else}}Your Email{{/if}}</label>
                                </div>
                            </div>
                            <div class="col-xl-6 mb-3">
                                <div class="form-floating">
                                    <input type="phone" class="form-control {{#if errorMessage.phone}}border-danger border-5{{/if}}" id="phone" name="phone" value="{{data.email}}" placeholder="Phone">
                                    <label for="phone">{{#if errorMessage.name}}{{errorMessage.phone}}{{else}}Your Phone{{/if}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-floating">
                                    <input type="text" class="form-control {{#if errorMessage.subject}}border-danger border-5{{/if}}" id="subject" name="subject" value="{{data.subject}}" placeholder="Subject">
                                    <label for="subject">{{#if errorMessage.name}}{{errorMessage.subject}}{{else}}Subject{{/if}}</label>
                            </div>
                        </div>
                       
                       <div class="mb-3">
                            <div class="form-floating">
                                    <textarea class="form-control {{#if errorMessage.message}}border-danger border-5{{/if}}" placeholder="Leave a message here" id="message" value="{{data.message}}"
                                        name="message" style="height: 160px"></textarea>
                                    <label for="message">Message</label>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                                <button class="btn btn-light w-100 py-3">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12 col-xl-1 wow fadeInUp" data-wow-delay="0.3s">
                <div class="d-flex flex-xl-column align-items-center justify-content-center">
                    <a class="btn btn-xl-square btn-light rounded-circle mb-0 mb-xl-4 me-4 me-xl-0" href=""><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-xl-square btn-light rounded-circle mb-0 mb-xl-4 me-4 me-xl-0" href=""><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-xl-square btn-light rounded-circle mb-0 mb-xl-4 me-4 me-xl-0" href=""><i
                            class="fab fa-instagram"></i></a>
                    <a class="btn btn-xl-square btn-light rounded-circle mb-0 mb-xl-0 me-0 me-xl-0" href=""><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-12 col-xl-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-light rounded">
                 <iframe width="100%" height="620px" id="gmap_canvas" src="https://maps.google.com/maps?q=a-43+secetor16+Noida&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{{>footer}}