{{>header}}
<title>Cental - Car Rent | Admin Section</title>
{{>navbar}}

{{>hero}}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-3">
            {{>sidebar}}
        </div>
        <div class="col-md-9">
            <h5 class="bg-primary text-center text-light p-2">Testimonial <a href="/admin/testimonial"><i
                        class="fa fa-backward text-light float-end"></i></a></h5>
            <form action="/admin/testimonial/store" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Name*</label>
                        <input type="text" name="name" placeholder="Full Name"
                            class="form-control {{#if errorMessage.name}}border-danger{{else}}border-primary{{/if}}"
                            value="{{data.name}}">
                        {{#if errorMessage.name}}
                        <p class="text-danger">{{errorMessage.name}}</p>
                        {{/if}}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Pic*</label>
                        <input type="file" name="pic"
                            class="form-control {{#if errorMessage.pic}}border-danger{{else}}border-primary{{/if}}"
                            value="{{data.pic}}">
                        {{#if errorMessage.pic}}
                        <p class="text-danger">{{errorMessage.pic}}</p>
                        {{/if}}
                    </div>
                </div>

                <div class="mb-3">
                    <label>Message*</label>
                    <textarea name="message" placeholder="Message" rows="5"
                        class="form-control {{#if errorMessage.message}}border-danger{{else}}border-primary{{/if}}"
                        value="{{data.message}}"></textarea>
                    {{#if errorMessage.message}}
                    <p class="text-danger">{{errorMessage.message}}</p>
                    {{/if}}
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Active*</label>
                        <select name="active" class="form-select border-primary">
                            <option {{checkDropDown data.active true }} value="true">Yes</option>
                            <option {{checkDropDown data.active false }} value="false">No</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary p-2 w-100">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{>footer}}